<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <u><font color=greey, face=verdana>Averigua de que parte es una ip{{ title }}!</font></u>

    </h1>
    <img width="150" alt="Angular Logo" src="/favicon.ico">
</div>
<div style="margin-left: 27%">
    <h2>
        <u><font color=greey, face=verdana>Introduce la IP:</font></u>
    </h2>
    <div class="input-group mb-3" style="width: 40%">
        <input type="text" class="form-control" [(ngModel)]=ipIngresado placeholder="Introduce el IP con puntos " aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-danger" (click)=getDatosCiudad() type="button">Buscar</button>
        </div>
    </div>
    <br>
    <br>

    <h2>
        <font color=white><strong>{{IpClase.pais}}</strong></font>
    </h2>


    <div>
        <h3>
            <font color=greey, face=arial>Ip:
                <font color=red>{{IpClase.ip}}</font>
            </font>
        </h3>
        <h3>
            <font color=greey, face=arial>Ciudad:
                <font color=red>{{IpClase.ciudad}}</font>
            </font>
        </h3>
        <h3>
            <font color=greey, face=arial>Region:
                <font color=red>{{IpClase.region}}</font>
            </font>
        </h3>
        <h3>
            <font color=greey, face=arial>Codigo de Region:
                <font color=red>{{IpClase.regionCode}}</font>
            </font>
        </h3>
        <h3>
            <font color=greey, face=arial>Codigo de Pais:
                <font color=red>{{IpClase.paisCode}}</font>
            </font>
        </h3>
        <h3>
            <font color=greey, face=arial>Latitud:
                <font color=red>{{IpClase.latitud}}</font>
            </font>
        </h3>
        <h3>
            <font color=greey, face=arial>Longitud:
                <font color=red>{{IpClase.longitud}}</font>
            </font>
        </h3>
    </div>
</div>